
<div class="card">
    <div class="card-header text-center">
        <h3>SIGN IN</h3>
    </div>
<div class="card-body">
<form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" [ngClass]="{'is-invalid':loginForm.submitted && email.invalid}"  id="exampleInputEmail1" aria-describedby="emailHelp" name="email" #email="ngModel"  [(ngModel)]="model.email" required />
      <span class="invalid-feedback">Email can't be blank.</span>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control"  [ngClass]="{'is-invalid':loginForm.submitted && password.invalid}"  id="exampleInputPassword1" name="password" #password="ngModel"   [(ngModel)]="model.password" required />
      <span class="invalid-feedback">Password can't be blank.</span>
    </div>
    <div class="mb-3 form-group">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember" #remember="ngModel"  [(ngModel)]="model.remember">
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button (click)="login()"   type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Sign In</button>
  </form>
</div>
</div>